.cart-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.638);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.cart-product-container {
  width: 30%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  animation: banner 1s linear;
}
.cart-header {
  height: 50px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
.faArrowLeft {
  font-size: large;
  color: blueviolet;
  margin: 15px 10px;
}
.left-arrow {
  background: none;
  border: none;
  float: left;
}
button:hover {
  cursor: pointer;
}
.cart_content3 {
  width: 100%;
  height: 85%;
  overflow-x: hidden;
  overflow-y: auto;
}
.cart_data {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  margin: 10px;
}

.cart_image_name {
  width: 100px;
  height: 100px;
}
.cart-img-text {
  width: 50%;
}
.image_name {
  font-size: 15px;
  color: rgb(144, 104, 182);
}

.price_name {
  color: blueviolet;
}
.deletebutton {
  width: 60px;
  height: 30px;
  border: none;
  background-color: blueviolet;
  color: white;
  border-radius: 3px;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
}


/* animation */
@keyframes banner {
  0% {
    transform: translateX(100%);
    opacity: 0.1;
  }
  25% {
    opacity: 0.2;
    transform: translateX(75%);
  }
  50% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  75% {
    opacity: 0.7;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}