* {
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    position: fixed;
    z-index: 3;
    
}
.logo-input-cart-login{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 128, 0, 0.388);
    
}
.logo-input{
    width: 60%;
    display: flex;
    align-items: center;
    padding-left: 7%;
}
.logo-input img{
    width: 20%;
}
.logo-input img:hover{
    cursor: pointer;
}
.logo-input input {
    width: 60%;
    height: 30px;
    border: 1px solid blueviolet;
    border-radius: 5px 0 0 5px;
    outline: none;
    padding-left: 3%;
}
.logo-input button {
    width: 7%;
    height: 30px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
}
.logo-input button:hover{
    cursor: pointer;
}

.cart-login{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cart-login img {
    width: 35%;
}
.cart-login button {
    background: none;
    border: none;
    color: blueviolet;
    font-size: medium;
}
.cart-login button:hover {
    cursor: pointer;
}
.nav{
    width: 100%;
    padding-left: 6%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.link{
    text-decoration: none;
    margin-left: 1.5%;
    font-size: small;
    color: rgba(0, 128, 0, 0.666);
}
.link:hover{
    color: blueviolet;
}