/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* .header {
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 3;
  animation: background 2s forwards linear;
} */
/* .logo-input-cart-login {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 0;
  border-bottom: 1px solid rgba(0, 128, 0, 0.388);
} */

/* .logo-input img {
  width: 20%;
}
.logo-input img:hover {
  cursor: pointer;
} */

/* .logo-input button {
  width: 7%;
  height: 30px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
} */
/* .logo-input button:hover {
  cursor: pointer;
} */

/* .cart-login {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
} */
/* .cart-login img {
  width: 35%;
  height: 8vh;
} */
/* .cart-login button {
  background: none;
  border: none;
  color: blueviolet;
  font-size: medium;
}
.cart-login button:hover {
  cursor: pointer;
} */

/* animation */
@keyframes background {
  0% {
    transform: translateY(-100%);
    opacity: 0.1;
  }
  25% {
    opacity: 0.2;
    transform: translateY(-75%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-50%);
  }
  75% {
    opacity: 0.7;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Responsive */
@media screen and (min-width: 1280px) {
  .logo-input {
    padding-left: 7%;
  }
  input {
    border-radius: 5px 0 0 5px;
    padding-left: 3%;
  }
  .nav {
    padding-left: 6%;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .link {
    margin-left: 1.5%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .logo-input {
    padding-left: 7%;
  }
  input {
    border-radius: 5px 0 0 5px;
    padding-left: 3%;
  }
  .nav {
    padding-left: 6%;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .link {
    margin-left: 1.5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo-input {
    padding-left: 1%;
  }
  input {
    border-radius: 5px 0 0 5px;
    padding-left: 3%;
  }
  .nav {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .link {
    margin-left: 1.5%;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .logo-input {
    padding-left: 1%;
  }
  input {
    border-radius: 5px 0 0 5px;
    padding-left: 2%;
  }
  .nav {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .link {
    margin-left: 1%;
  }
}
@media screen and (max-width: 768px) {
  .logo-input {
    padding-left: 1%;
  }
  input {
    border-radius: 5px 0 0 5px;
    padding-left: 2%;
  }
  .nav {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .link {
    margin-left: 1%;
  }
}

@media screen and (min-width: 426px) and (max-width: 570px) {
  .header{
    width: 100%;
  }
  input {
    border-radius: 5px 0 0 5px;
    padding-left: 2%;
  }
  .nav {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}